@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Hubballi&family=Inspiration&family=Kavoon&family=Orelega+One&family=Roboto+Condensed:wght@300&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  
  background-color: #F0EBE3;
  /* background-color: red; */
 
  width: 100vw;
  height: 100vh;
}


.logo {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 23px;
}
.toggle{
  color: black;
}

.black {
  color: #000;
}


p.card-text {
  padding: 7px;
}

.image-shadow {
  /* margin: 15px; */
  /* margin-right: 50px; */
  width: 18rem;
  height: 33rem;
}

.btn{
  font-family: 'kavoon', sans-serif;
  font-size: 20px;
}


.edit {
  margin-right: 0;
}

.colour {
  background-color: #FFFFFF;
  color: #000;

}


a {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  color: #000;
  list-style-type: none;
  font-size: 23px;
  font-weight: bold;

}

#image-container{
  height: 300px;
  /* width: 600px;  */

}
img{
  height:250px;
 
  object-fit: cover;
 
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
h2,h3,h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
.login{
  font-family: 'Open Sans', sans-serif;
}

#login,#logout,#delete,#register,#search{
  position: relative;
  width: 100vw;
  height: 82vh;

}
.blue{
 background-color: #1e88e5;
 position: relative;
 padding-bottom: 0;
}
#delete-post{
  text-align: center;
}
.card-title{
text-align: center;

}

.delete-btn{

margin-left: 50px;
}

.white{
  color: #FFFFFF;
}
.footer-p a{
  font-family: 'Lato', sans-serif;
 
}

/* media queries */


  

  
  @media only screen and (max-width:1000px) {
     .image-shadow{
      width: 40rem;
      margin:0 auto;
     }
    
    }

    @media only screen and (max-width:780px) {
      .image-shadow{
   width: 35rem;
   margin:0 auto;
   margin-top: 12px;
   
      }
     
     } 
     @media only screen and (max-width:630px) {
      .image-shadow{
        width: 25rem;
        margin:0 auto;
        margin-top: 12px;
  
      }
     
     } 

     @media only screen and (max-width:440px) {
      .image-shadow{
        width: 18rem;
        margin:0 auto;
        margin-top: 12px;
  
      }
     
     } 

     @media only screen and (max-width:320px) {
      .image-shadow{
        width: 15rem;
        margin:0 auto;
        margin-top: 12px;
  
      }
     
     } 