@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Hubballi&family=Inspiration&family=Kavoon&family=Orelega+One&family=Roboto+Condensed:wght@300&family=Square+Peg&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  background-color: #F0EBE3;
}
#recipe{
  width: 100%;
}


.border{
  border-style: ridge;
  border: 5px solid;
}

.logo {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 23px;
}
.toggle{
  color: black;
}

.black {
  color: #000;
}


.image-shadow {
  width: 18rem;
  height: 19rem;
  /* height: 18rem; */
    background-color: #371B58
}


.title{
   margin-left: 14px;
  color: #AE8141;
  font-family: 'Kavoon', sans-serif;
  font-size: 26px;
}
#author{
color: #AE8141;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
}

.blog-post-title{
  font-weight: bold;
}

.home{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 50%;
  margin-bottom: 7px;
  padding: 7px;
  margin-left: 9px;
 
}

#create-post{
  margin-left:24px;
}
.contents{
  padding: 1px;
  margin-top: 2px;
  
} 


.next{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  
}


.edit {
  margin-right: 0;
}

.colour {
  background-color: #FFFFFF;
  color: #000;

}


a{
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  color: #000;
  list-style-type: none;
  font-size: 23px;
  font-weight: bold;

}

img{
  height:250px;
  object-fit: cover;
 
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
}
h2,h3,h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.login{
  font-family: 'Open Sans', sans-serif;
}

#login,#logout,#register,#delete,#search,#profile,#edit-profile{
  position: relative;
  width: 100vw;
  min-height: calc(72vh - 40px);
  bottom: 0;

}
.profile{
  min-height: calc(80vh - 40px);
}

#logout{
  min-height: calc(76vh - 40px);
}

#delete{
 display: flex;
 justify-content: center;
}
#delete-header{
  
  font-size: 35px;
}


.detail-post{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
 
}

.cancel{
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
}

.white{
  color: #FFFFFF;
}

.footer-p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 1px;

}
.blue{
  background-color: #1e88e5;
  position: relative;
  padding-bottom: 0;
  text-align: center;
  font-size: 20px;
  position: relative;
 height: 92px;
  color: #B28649;
  padding: 2px;
 }
 
 .social-links{
  padding: 7px;
 }


.my-profile{
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 3%;
  border-radius: 0.5rem;
 margin-left: 30px;


}
.update-profile{
  margin-left: 30px;
  margin-bottom: 10px;
 
}
.comments-textarea{
  height: 200px;
}
.date-time{
  font-size: 12px;
}


/* media queries */

  @media only screen and (max-width:1000px) {
     .image-shadow{
      width: 40rem;
      margin:0 auto;
     
     }
    
    }

    @media only screen and (max-width:780px) {
      .image-shadow{
   width: 35rem;
   margin:0 auto;
   margin-top: 28px;
   
      }
     
     } 
     @media only screen and (max-width:630px) {
      .image-shadow{
        width: 25rem;
        margin:0 auto;
        margin-top: 28px;
  
      }
     
     } 

     @media only screen and (max-width:440px) {
      .image-shadow{
        width: 18rem;
        margin:0 auto;
        margin-top: 28px;
  
      }
     
     } 

     @media only screen and (max-width:320px) {
      .image-shadow{
        width: 15rem;
        margin:0 auto;
        margin-top: 28px;
  
      }
     
     } 