{% extends 'base.html' %}
{% load static % }
{% block content %}

<div class="container mt-5  mb-3 ">
  <div class="row">
    {% for post in object_list %}
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card shadow image-shadow">
        {% if 'placeholder' in post.image.url %}
        <img src="https://res.cloudinary.com/dfvf6jlzb/image/upload/v1658332903/zckqp8ylve9ei8sza8pc.jpg"
          alt="fullstack placeholder image">
        {% else %}
        <img src="{{ post.image.url }}" alt="post-image">
        {% endif %}
        <br>

        <a href="{% url 'post-detail' post.slug %}">
          <h2 class="card-title title ">{{ post.title }}</h2>
        </a>
        <small>
          <p id="author">by {{post.author}}|{{post.get_readtime}} read</p>
        </small>

      </div>
      <br>

    </div>

    {% endfor %}
  </div>
  <br>

  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center ">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn previous">&laquo; prev </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn next"> Next &raquo;</a></li>

      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock  %}