{% extends 'base.html' %}
<!-- {% load static % } -->



{% block content %}

<div class="container">

  <div class="row">
    {% for post in object_list %}
    <div class="col-lg-4 col-md-6 col-sm-6" style="width: 20rem; height: 33rem;">
      <div class="card shadow image-shadow">
        <img src=" {{ post.image.url }}" alt="">

        <h5 class="card-title">{{post.title}} <br><small>by {{post.author}}</small></h5>
        <p class="card-text">{{post.content| truncatechars:100}}</p>

        
          <a href="{% url 'post-detail' post.pk %}"  class="btn btn-primary btns">READ MORE</a>
          <a href="{% url 'update-post' post.pk %}"  class="btn btn-primary btns">Edit Post</a>
     




       

      </div>
    </div>

    {% endfor %}
  </div>





  
 </div>


  {% endblock content %}