{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <h1 class="cr-heading">Make a recipe!</h1>
</div>

{% if user.is_authenticated %}
<div class="container-fluid">
   
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    {% csrf_token %}
                  <div class="row">
                    <p id="recipe">{{ recipe_form.title | as_crispy_field | safe }}</p>
                  </div>
                  <div class="row">
                    <p id="recipe">{{ recipe_form.slug | as_crispy_field | safe }}</p>
                  </div>
                        
                    
            
                        {{ recipe_form.content | as_crispy_field | safe }}
                    </div>
                   
                      
                    </div>
                    <button type="submit" class="btn btn-signup btn-lg submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}

{% endif %}



{% endblock %}