{% extends 'base.html' %}

{% load static % }

{% block content %}

<div id="delete" class="container">
    <div class="delete-post">
        <form method="POST">
            {% csrf_token %}
            <h2 id="delete-header">Delete Post?</h2>
            <p class="card-title">All data of this post will be permanently deleted</p>
            <button class="btn btn-danger delete-btn">Confirm</button>
            <a href="/" class="btn btn-primary delete-btn cancel">Cancel</a>
            <br>
        </form>
    </div>

</div>

{% endblock %}