{% extends 'base.html' %}
{% load static % }

{% block content %}
<br>

<div id="delete" class="container">
    <div class="card text-center">
        <form method="POST">
            {% csrf_token %}
            <p class="card-title">You are about to delete this post!?</p>
            <button class="btn btn-danger delete-btn">Delete post</button>
            <a href="/" class="btn btn-primary delete-btn">Cancel</a>
            <br>
        </form>
    </div>

</div>














<!-- <div id="delete" class="container">

    <p id="delete-post">You are about to Delete your post!</p>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger delete-btn">Delete Post</button>
        <a href="/" class="btn btn-primary">Cancel</a>
    </form>


</div> -->




{% endblock content %}