{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}


{% block content %}

<div class="container">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <br>
    <div class="media">

        <div class="media-body">
            <h5><a href="/user_profile/{{post.author.id}}/"> by {{post.author}}</a> 
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <small><a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete Post</a></small>
                {% endif %}
                {% endif %}
                </a></h5>

        </div>
    </div>
    <br>
    <div id="image-container">
        <img src="{{ post.image.url }}" alt="post-image">
    </div>
    
    <p>{{post.content}}.</p>
    <hr>
    {% if user.is_authenticated %}
    <div class="container">
        <h2>Add Comments Here</h2>
        <form action="/blog/{{post.slug}}/" method="POST"> {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" required placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px" id="content" name="content"></textarea>
                <label for="floatingTextarea2">Leave a comment here.</label>
                <br>
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </form>
        {% else %}

        <div class="container">
            <h4><a href="/accounts/login/" class="login">Login</a> to post comments below.</h4>
            {% endif %}
            <br>
            <h4>All Comments ({{comments.count}})</h4>
            <br>
            {% for comment in comments %}
            <div class="card">
                <div class="card-header">
                    <!-- <span style="font-size: 22px;">{{comment.user}} </span> -->
                    <h5>{{comment.user}} </h5>
                </div>
                <div class="card-body">
                    <!-- <h6 class="card-text">{{comment.content}}</h6> -->
                    <p class="card-text">{{comment.content}}</p>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>


    <!-- messages -->
    {% if messages %}
    <div class="alert alert-success">
        {% for m in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ m }}</li>
            {% endfor %}
    </div>
    {% endif %}

    {% endblock content %}