{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}


{% block content %}

<div class="container w-75 my-4">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <br>

    <h5>{{post.author}}

    </h5>
    <br>
    <img src="{{ post.image.url }}" alt="" height="250px" width="500px">
    <br>

    <p>{{post.content}}.</p>
    <hr>
    {% if user.is_authenticated %}

    <div class="container">
        <h4>Add Comments Here</h4>
        <form action="/blog/{{post.slug}}/" method="POST"> {% csrf_token %}
    <div class="form-floating">
        <textarea class="form-control" id="exampleFormControlInput1" name="text"
            placeholder="Leave a comment here"></textarea>

        <label for="exampleFormControlInput1">Leave your comment here</label>
        <br>
        <button type="submit" class="btn btn-primary">Comment</button>
    </div>
    </form>
    {% else %}
    <h4><a href="/accounts/login">Login to comment </a></h4>
    {% endif %}
    <br>
    
    <h4>All Comments</h4>
  





    <hr>



</div>

{% endblock content %}