{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}


{% block content %}

<div class="container w-75 my-4">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <br>
    <div class="media">

        <div class="media-body">
            <h5 class="mt-0">by {{post.author}}
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <small><a href="/edit_blog_post/{{post.slug}}/" class="edit btn btn-warning">Edit Blog Post</a></small>
                {% endif %}
                {% endif %}
            </h5>
         
        </div>
    </div>
    <br>
    <img src="{{ post.image.url }}" alt="" height="250px" width="500px">
    <br>
    <p>{{post.content}}.</p>
    <hr>
   
    </div>

    {% endblock content %}