{% extends "base.html" %}

{% block content %}

<div class="container profile">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row my-profile">
            <div class="col-md-5">
                <div class="form-group ">
                    <label>Username:</label>
                    {{ user_form.username }}
                </div>

                <div class="form-group ">
                    <label>linkedin:</label>
                    {{ profile_form.linkedin }}
                </div>

                <label>Bio:</label> {{ profile_form.bio }}
            </div>
        </div>

        <button class="btn update-profile">Update profile</button>

    </form>

</div>


{% endblock %}