{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}


{% block content %}
<div class="row">

    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">User Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user}}</p>

                    </div>
                </div>
              
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                </div>


                <hr>
                {% if user.profile.bio %}
              

                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Bio</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.profile.bio}}</p>
                    </div>
                </div>
                {% endif %}
              <hr>

           

                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Linkedin</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0"><a href="https://Linkedin.com"  target="_blank" rel="noopener">{{user.profile.linkedin}}</a></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Twitter</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.profile.Twitter}}</p>
                    </div>
                   
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                   
                        <a href="/edit_profile/" class="btn btn-secondary">Edit Profile</a>
                        
                   
                    </div>
                  
                   
                </div>
              
              
            </div>
        </div>
    </div>
</div>

{% endblock content %}