{% extends 'base.html' %}


<!-- tryout -->
{% load static % }
{% block content %}

{% if searched %}
<div class="col-lg-4 col-md-12 col-sm-12">
  <!-- image url -->
  <div class="card shadow image-shadow">
  
    
    <img src="{{ post.image.url }}" alt="post-image">
    
    <!-- post title -->
    <!-- <h5 class="card-title title">{{post.title}} -->
      <br>
      <!-- post author -->
     
    <!-- </h5> -->
    <!-- post content -->
    <!-- <p class="contents">{{post.content| truncatechars:150|safe }}</p> -->
  
     <a href="/blog/{{post.slug}}">
      <h2 class="card-title title ">{{ post.title }}</h2>
     </a>
     <small>
      <p id="author">by {{post.author}}|{{post.get_readtime}} read</p>
      </small>
      {% else %}

      <div id="delete" class="container">
        <div class=" text-center">
          <p>No search detected</p>
      
        </div>
      
      </div>
      
      {% endif %}

    
  </div>
  {% endblock %}